.new-tweet {
  background-color: #f2f2f2;
  border: 1px solid grey;
  border-radius: 6px;
  height: 170px;
  padding: 0 0.5em;
  margin: 10px 0;
  display: none;
  opacity: 0;
}

.tweet-heading {
  text-align: left;
  border-bottom: 2px black solid;
}

.tweet-form-text {
  display: block;
  width: 100%;
  margin: 0.45em 0;
  padding: 0.4em;
  /*margin: center;*/
}

.tweet-form-input {
  float: left;

}

.counter {
  float: right;
}

.tweeted {
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 6px;
  height: 170px;
  margin: 10px 0;
}

.tweeted-head {
  height: 70px;
  width: 100%;
  padding: 0.5em;
  background-color: #f3f3f3;
  border-radius: 6px;
}

.tweeted-heading-right {
  float: right;
}
.tweeted-heading{
  display: inline;
  float: left;
  margin: auto;
}

.tweet-error {
  float: left;
  font-size: 12px;
  padding-left: 8px;
  color: red;
  opacity: 0;
}

.profile-photo {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.tweeted {
  opacity: 0.75;
}

.tweeted-msg {
  height: 70px;
  border-bottom: 1px solid grey;
}

.tweeted-msg > p {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0.5em;
}

.tweeted-footer {
  margin: auto;

}
.tweeted-footer > span {
  font-size: 0.75em;
  float: left;
  padding: 0.5em;
}

.toggle {
  display: inline;
  float: right;
  height: 100%;
  text-align: center;
}

.button-compose {
  display: block;
  margin: auto;
  position: relative;
  top: 20%;
  height: 50px;
  width: 120px;
  background-color: #fffff;
  border: 1px solid  black;
  border-radius: 6px;
}
